nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green-light);
  z-index: 1000;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
  padding: 5px 30px;
  position: fixed;
  top: 0;
  width: 100%;
}
#NavbarBrandImg {
  max-height: 80px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
}
#NavbarBrandImg > img {
  width: 100%;
  vertical-align: center;
}
#NavbarBrand {
  font-size: 2.5rem;
}
#search > input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.1rem;
}
#search > button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1.1rem;
}
