.category {
  font-size: 1.2rem;
}
.category > i {
  display: inline-block;
  margin-right: 10px;
}
.price-button {
  padding: 5px 20px;
  font-weight: 700;
  font-size: 1.2rem;
  display: inline-block;
  background-color: var(--green-main);
  border: 1px solid var(--green-accent);
}
.tag {
  background-color: var(--green-main);
  padding: 5px 10px;
  display: inline-block;
}
.tag.bestseller {
  padding: 7px 10px;
  border-radius: 50rem;
}
.tag.bestseller > i {
  color: #fff;
}

.stars {
  position: relative;
  display: inline-flex;
}
.stars-back > i,
.stars-coloured > i {
  color: inherit;
  font-size: 1.5rem;
  margin: 0 5px;
}
.stars-back {
  color: #ccc;
  display: flex;
}
.stars-coloured {
  position: absolute;
  top: 0;
  left: 0;
  color: #d04949;
  overflow: hidden;
  display: flex;
}
