@media (max-width: 660px) {
  #NavbarBrand {
    display: none;
  }
  .BookPage {
    display: flex;
    flex-direction: column;
    margin: 70px 1rem;
    padding: 1.5rem;
    gap: 1.5rem;
    border-radius: 12px;
  }
  .BookPage-Side {
    width: 100%;
  }
  .BookPage-Img {
    width: 150px;
  }
  .BookPage-Content {
    width: 100%;
  }
  .BookPage-Content h3 {
    font-size: 1.5rem;
  }
  .BookPage-Content h4 {
    margin: 0.35rem 0 0.75rem;
  }
  .BookPage-Content p {
    margin: 0 0 1rem;
  }
  .BookAward {
    margin-top: 1rem;
  }
  .BookPage-Content > div:last-child {
    padding-top: 1rem;
  }
  .BookPage-Details {
    padding: 0;
  }
  .BookPage-Details > div {
    flex-wrap: wrap;
  }
  .BookDetailLabel {
    margin-bottom: 0.75rem;
  }
  .ConditionScale {
    flex-direction: row;
  }
  .ConditionScale::before {
    display: none;
  }
}
