.BookCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px;
}
.BookCardBg {
  position: absolute;
  background-color: var(--card-light);
  border: 1px solid var(--card-accent);
  height: 70%;
  width: 100%;
  z-index: -1;
}
.BookCardImg {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BookCardImg > img {
  width: 90%;
  height: 90%;
  box-shadow: 0 5px 10px var(--card-accent);
}
.BookCardContent {
  width: 60%;
}
.BookCardContent > h3 {
  font-weight: 600;
  font-size: 1.4rem;
}
.BookCardContent > h4 {
  font-size: 1.2rem;
}
.BookCardTags {
  margin: 20px 0;
}
.BookCardTags > .tag {
  margin-right: 15px;
}
.BookCardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--card-accent);
  padding-top: 20px;
}
