.BookCard {
  position: relative;
  width: 50%;
  background-color: var(--green-light);
  border: 1px solid var(--green-accent);
  padding: 10px;
  margin-top: 50px;
}
.BookCardMain {
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
}
.BookCardImg {
  width: 100%;
}
.BookCardImg > img {
  width: 100%;
  margin-top: -40px;
}
.BookCardContent {
  margin: 0 20px;
}
.BookCardContent > h3 {
  font-weight: 600;
  font-size: 1.2rem;
}
.BookCardContent > h4 {
  font-size: 1.1rem;
}
.BookCardContent > p {
  margin: 15px 0;
}
.BookCardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;
  padding-top: 10px;
}
